# Go build outputs
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

.amazonq/

# Vendor directory (descomenta si no quieres subir dependencias)
# vendor/

# Environment files
.env.*

#compose
compose.yml

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store

# GitHub Copilot
.copilot/

# Logs
*.log

# Coverage files
coverage.out

# Temporary files
*.tmp